body{
    font-family: 'Cedarville Cursive', cursive;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: blue;
}
li {
    margin-top: 25px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 15px;
}
